<<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<%= @user %> just submitted a new link.

Check it out <a href="http://safe-escarpment-8623.herokuapp.com/links/<%= @link.id %>"> here </a>
</body>
</html>
